<div class="table">

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#DAY-1" data-toc-modified-id="DAY-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>DAY 1</a></span><ul class="toc-item"><li><span><a href="#GIT-and-GITHUB" data-toc-modified-id="GIT-and-GITHUB-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>GIT and GITHUB</a></span><ul class="toc-item"><li><span><a href="#What-is-GIT?" data-toc-modified-id="What-is-GIT?-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>What is GIT?</a></span></li><li><span><a href="#What-is-GitHub?" data-toc-modified-id="What-is-GitHub?-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>What is GitHub?</a></span></li></ul></li><li><span><a href="#INSTALLATION" data-toc-modified-id="INSTALLATION-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>INSTALLATION</a></span></li><li><span><a href="#Getting-started-with-GIT-and-GitHub" data-toc-modified-id="Getting-started-with-GIT-and-GitHub-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Getting started with GIT and GitHub</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#To-setting-up-username-and-email" data-toc-modified-id="To-setting-up-username-and-email-1.3.0.1"><span class="toc-item-num">1.3.0.1&nbsp;&nbsp;</span>To setting-up username and email</a></span></li><li><span><a href="#To-check-working-username-and-email" data-toc-modified-id="To-check-working-username-and-email-1.3.0.2"><span class="toc-item-num">1.3.0.2&nbsp;&nbsp;</span>To check working username and email</a></span></li><li><span><a href="#Change-to-directory" data-toc-modified-id="Change-to-directory-1.3.0.3"><span class="toc-item-num">1.3.0.3&nbsp;&nbsp;</span>Change to directory</a></span></li><li><span><a href="#Initialize-the-empty-git-repository" data-toc-modified-id="Initialize-the-empty-git-repository-1.3.0.4"><span class="toc-item-num">1.3.0.4&nbsp;&nbsp;</span>Initialize the empty git repository</a></span></li><li><span><a href="#Adding-file-to-repository" data-toc-modified-id="Adding-file-to-repository-1.3.0.5"><span class="toc-item-num">1.3.0.5&nbsp;&nbsp;</span>Adding file to repository</a></span></li><li><span><a href="#getting-Status-of-file" data-toc-modified-id="getting-Status-of-file-1.3.0.6"><span class="toc-item-num">1.3.0.6&nbsp;&nbsp;</span>getting Status of file</a></span></li><li><span><a href="#Commit-and-Message" data-toc-modified-id="Commit-and-Message-1.3.0.7"><span class="toc-item-num">1.3.0.7&nbsp;&nbsp;</span>Commit and Message</a></span></li></ul></li><li><span><a href="#Tracking-Muliple-files" data-toc-modified-id="Tracking-Muliple-files-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Tracking Muliple files</a></span><ul class="toc-item"><li><span><a href="#Adding-multiple-files" data-toc-modified-id="Adding-multiple-files-1.3.1.1"><span class="toc-item-num">1.3.1.1&nbsp;&nbsp;</span>Adding multiple files</a></span></li><li><span><a href="#Add-file-to-remote-repository" data-toc-modified-id="Add-file-to-remote-repository-1.3.1.2"><span class="toc-item-num">1.3.1.2&nbsp;&nbsp;</span>Add file to remote repository</a></span></li><li><span><a href="#Uploading-the-files" data-toc-modified-id="Uploading-the-files-1.3.1.3"><span class="toc-item-num">1.3.1.3&nbsp;&nbsp;</span>Uploading the files</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#DAY-2" data-toc-modified-id="DAY-2-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>DAY 2</a></span><ul class="toc-item"><li><span><a href="#Getting-started-with-python" data-toc-modified-id="Getting-started-with-python-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Getting started with python</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#What-is-Python?" data-toc-modified-id="What-is-Python?-2.1.1.1"><span class="toc-item-num">2.1.1.1&nbsp;&nbsp;</span>What is Python?</a></span></li></ul></li></ul></li><li><span><a href="#Printing-on-screen" data-toc-modified-id="Printing-on-screen-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Printing on screen</a></span></li><li><span><a href="#Taking-user-input" data-toc-modified-id="Taking-user-input-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Taking user input</a></span><ul class="toc-item"><li><span><a href="#Typecasting-while-taking-input-into-integer" data-toc-modified-id="Typecasting-while-taking-input-into-integer-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Typecasting while taking input into integer</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li></ul></li><li><span><a href="#DAY-3" data-toc-modified-id="DAY-3-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DAY 3</a></span><ul class="toc-item"><li><span><a href="#Data-Types-in-Python" data-toc-modified-id="Data-Types-in-Python-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Data Types in Python</a></span><ul class="toc-item"><li><span><a href="#Numeric" data-toc-modified-id="Numeric-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Numeric</a></span></li><li><span><a href="#String" data-toc-modified-id="String-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>String</a></span></li><li><span><a href="#List" data-toc-modified-id="List-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>List</a></span></li><li><span><a href="#Tuple" data-toc-modified-id="Tuple-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Tuple</a></span></li><li><span><a href="#Set" data-toc-modified-id="Set-3.1.5"><span class="toc-item-num">3.1.5&nbsp;&nbsp;</span>Set</a></span></li></ul></li></ul></li><li><span><a href="#DAY-4" data-toc-modified-id="DAY-4-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>DAY 4</a></span><ul class="toc-item"><li><span><a href="#Data-Types-in-Python-Continue..." data-toc-modified-id="Data-Types-in-Python-Continue...-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Data Types in Python Continue...</a></span><ul class="toc-item"><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Conditionals" data-toc-modified-id="Conditionals-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Conditionals</a></span><ul class="toc-item"><li><span><a href="#if,-if-else,-if-elif(n)-else" data-toc-modified-id="if,-if-else,-if-elif(n)-else-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>if, if-else, if-elif(n)-else</a></span></li></ul></li><li><span><a href="#Loops" data-toc-modified-id="Loops-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Loops</a></span><ul class="toc-item"><li><span><a href="#While-loop" data-toc-modified-id="While-loop-4.3.1"><span class="toc-item-num">4.3.1&nbsp;&nbsp;</span>While loop</a></span></li><li><span><a href="#For-loop" data-toc-modified-id="For-loop-4.3.2"><span class="toc-item-num">4.3.2&nbsp;&nbsp;</span>For loop</a></span></li></ul></li><li><span><a href="#Functions" data-toc-modified-id="Functions-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Functions</a></span></li></ul></li><li><span><a href="#DAY-5" data-toc-modified-id="DAY-5-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>DAY 5</a></span><ul class="toc-item"><li><span><a href="#List-Copy" data-toc-modified-id="List-Copy-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>List Copy</a></span><ul class="toc-item"><li><span><a href="#Shallow-Copy" data-toc-modified-id="Shallow-Copy-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Shallow Copy</a></span></li><li><span><a href="#Deep-Copy" data-toc-modified-id="Deep-Copy-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Deep Copy</a></span></li></ul></li><li><span><a href="#List-Comprehension" data-toc-modified-id="List-Comprehension-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>List Comprehension</a></span></li><li><span><a href="#Modules" data-toc-modified-id="Modules-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Modules</a></span><ul class="toc-item"><li><span><a href="#math" data-toc-modified-id="math-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>math</a></span></li><li><span><a href="#os" data-toc-modified-id="os-5.3.2"><span class="toc-item-num">5.3.2&nbsp;&nbsp;</span>os</a></span></li><li><span><a href="#datetime,-time,-sys" data-toc-modified-id="datetime,-time,-sys-5.3.3"><span class="toc-item-num">5.3.3&nbsp;&nbsp;</span>datetime, time, sys</a></span></li></ul></li><li><span><a href="#Exception-Handling" data-toc-modified-id="Exception-Handling-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Exception Handling</a></span></li></ul></li><li><span><a href="#DAY-6" data-toc-modified-id="DAY-6-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>DAY 6</a></span><ul class="toc-item"><li><span><a href="#Exception-Handling-Continue" data-toc-modified-id="Exception-Handling-Continue-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Exception Handling Continue</a></span></li><li><span><a href="#File-Handling" data-toc-modified-id="File-Handling-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>File Handling</a></span></li></ul></li></ul></div>

# DAY 1
---

## GIT and GITHUB
---
### What is GIT?
GIT is VCS(Version Control System). It can be defined as a tool which help us in keeping track of our project development over the time and it provide easy maintainability to it.
 __eg.: App1 1.0.3, App1 1.0.4, App1 1.1.0 ...__
### What is GitHub?
It is website for hosting and managing GIT online.

### __Why there is a need to store previous version of projects? <a class="tocSkip">
This is so because sometime updated version might get some bugs in or need to maintain previous version due to demand by the uses.

## INSTALLATION

Download binaries or executables from: https://git-scm.com/ <br>
Follow the instructons step-by-step

## Getting started with GIT and GitHub

#### To setting-up username and email
\$ git config --global user.name "your username" <br>
\$ git config --global user.email "your email id"
#### To check working username and email
\$ git config user.user <br>
\$ git config user.email
#### Change to directory
\$ cd Documents/git-repo/test\ day1/
#### Initialize the empty git repository
\$ git init
#### Adding file to repository
\$ git add "test.txt"
#### getting Status of file
\$ git status
#### Commit and Message
\$ git commit -m "check"
### Tracking Muliple files
#### Adding multiple files
\$ git add .
#### Add file to remote repository
\$ git remote add origin https://github.com/swtnk/Repo1.git
#### Uploading the files
\$ git push origin master

<div id="day2">
---
# DAY 2
---

## Getting started with python
### Introduction
#### What is Python?
Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

## Printing on screen

In [1]:
print("Swetank")
print(type("Swetank"))

Swetank
<class 'str'>

In [2]:
print("Swetank\t" * 5)
print("'Swetank'")
print("I don't want to go outside")
print('My name is "Swetank Subham"')
print('My name is \\Swetank Subham\\')
print("Swetank" * 5, sep=" ")

Swetank	Swetank	Swetank	Swetank	Swetank
'Swetank'
I don't want to go outside
My name is "Swetank Subham"
My name is \Swetank Subham\
SwetankSwetankSwetankSwetankSwetank

In [3]:
print("My", "name", "is", "Swetank", sep=" ")
print(1, 22, 333, 4444, sep=" < ")

My name is Swetank
1 < 22 < 333 < 4444

In [4]:
print("My name is Swetank", end="***")

My name is Swetank***

In [5]:
a = " *** "
b = " &&& "
for i in range(5):
    if i < 2:
        print(1,2,3,sep=a, end="\n")
    else:
        print(4,5,sep=b, end="\n")

1 *** 2 *** 3
1 *** 2 *** 3
4 &&& 5
4 &&& 5
4 &&& 5

## Taking user input

In [6]:
a  = input("Enter anything: ")
print(type(a))
b = input("Enter any number: ")
print(type(b))
print("By default input is string.\nIt requires type casting to convert string into integer\n")

Enter anything: anything
<class 'str'>
Enter any number: 5
<class 'str'>
By default input is string.
It requires type casting to convert string into integer

### Typecasting while taking input into integer

In [7]:
a = int(input("Enter any integer: "))
print(type(a))

Enter any integer: 5
<class 'int'>

#### *Note: The strings only containing the numerical values can be typecasted into other number format like float or integer. <a class="tocSkip">

### Exercise
#### Print anything <a class="tocSkip">

In [8]:
print("Its Showing! :)")

Its Showing! :)

#### Join two strings using '+' <a class="tocSkip">
E.g.: "First" + "name"

In [9]:
print("Swetank","Subham",sep="+")

Swetank+Subham

#### Take the input of three variables x, y, z. Print their values on screen <a class="tocSkip">

In [10]:
a, b, c = input("Enter three space separated value: ").split(' ')
print('a is {}\nb is {}\nc is {}'.format(a, b, c))

Enter three space separated value: 4 3 5
a is 4
b is 3
c is 5

#### Print "Let's get started"  on screen <a class="tocSkip">

In [11]:
print("let's get started")
print('let\'s get started')

let's get started
let's get started

#### Print the following value using placeholders. <a class="tocSkip">
    s = "Acadview"
    course = "Python"
    fees = 5000

In [12]:
s = "Acadview"
course = "Python"
fees = 5000
print("It am getting trained from {} on {}. The fee is INR {}/-".format(s, course,fees))

It am getting trained from Acadview on Python. The fee is INR 5000/-

#### Let's do some interesting exercise: <a class="tocSkip">
    name = "Tony Stark"
    salary = 1000000
    print('%s''%d')%(____,____)

In [13]:
name = "Tony Stark"
salary = 1000000
print(('%s %d')%(name, salary))
print('{} {}'.format(name, salary))
print('%s %d', name, salary)

Tony Stark 1000000
Tony Stark 1000000
%s %d Tony Stark 1000000

# DAY 3
---

## Data Types in Python
__Numeric, String, List, Tuple, Dictionary, set etc.__

### Numeric

In [14]:
x = 10
print('Type of x ({}) is {}.'.format(x, type(x)))
y = 9.5
print('Type of y ({}) is {}.'.format(y, type(y)))
z = 5+3j
print('Type of z ({}) is {}.'.format(z, type(z)))
print('Type of print(\'something\') is {}.'.format(type(print('some text'))))

Type of x (10) is <class 'int'>.
Type of y (9.5) is <class 'float'>.
Type of z ((5+3j)) is <class 'complex'>.
some text
Type of print('something') is <class 'NoneType'>.

#### Program to find area of circle using user input of radius measure <a class="tocSkip">

In [15]:
import math
r = float(input('Enter radius of circle: '))
print(math.pi * r ** 2)

Enter radius of circle: 4
50.26548245743669

### String

In [16]:
x = 'Sequence of characters'
print('Type of x ({}) is {}.'.format(x, type(x)))
y = ' is called string'
print('Type of y ({}) is {}.'.format(y, type(y)))
print(x + y)
z = 5
print('Type of z ({}) is {}.'.format(z, type(z)))
print(x + y + '\n' + str(z))
print(x.upper())
print(x.lower())
print(x.capitalize())
print(x.isalpha())
print(x.isalnum())
print(x.isnumeric())
print(x.isspace())

Type of x (Sequence of characters) is <class 'str'>.
Type of y ( is called string) is <class 'str'>.
Sequence of characters is called string
Type of z (5) is <class 'int'>.
Sequence of characters is called string
5
SEQUENCE OF CHARACTERS
sequence of characters
Sequence of characters
False
False
False
False

#### Take two reference variables and store your name and age and print: <a class="tocSkip">
I am name and my age is age yrs.

In [17]:
age = 22
name = 'Swetank Subham'
s = 'I am {} and my age is {} yrs.'.format(name, age)
print(s)

I am Swetank Subham and my age is 22 yrs.

### Some more string manipulation functions <a class="tocSkip">

In [18]:
print(s.startswith('I'))
print(s.startswith('i'))

True
False

In [19]:
print(s.replace('Swetank Subham', 'TheRoy'))

I am TheRoy and my age is 22 yrs.

In [20]:
print(s.split(' '))

['I', 'am', 'Swetank', 'Subham', 'and', 'my', 'age', 'is', '22', 'yrs.']

In [21]:
print(s[3:])

m Swetank Subham and my age is 22 yrs.

In [22]:
print(s[-1])
print(s[-2:])
print(s[-2::-1])

.
s.
sry 22 si ega ym dna mahbuS knatewS ma I

In [23]:
print(s[::-1])
print(''.join(reversed(s)))

.sry 22 si ega ym dna mahbuS knatewS ma I
.sry 22 si ega ym dna mahbuS knatewS ma I

### List

In [24]:
list1 = []
list2 = list()
print('Type of list1 ({}) is {}.'.format(list1, type(list1)))
print('Type of list2 ({}) is {}.'.format(list2, type(list2)))
l1 = [1, 2, 3, 4, 5]
print('Type of l1 ({}) is {}.'.format(l1, type(l1)))
l2 = [3, 4, 5]
print('Type of l2 ({}) is {}.'.format(l2, type(l2)))

Type of list1 ([]) is <class 'list'>.
Type of list2 ([]) is <class 'list'>.
Type of l1 ([1, 2, 3, 4, 5]) is <class 'list'>.
Type of l2 ([3, 4, 5]) is <class 'list'>.

In [25]:
l1 == l2

False

In [30]:
students = ['Roy', 'Amit', 'Aadi', 'Mohit', 'Ankur']
print(students)
students[2] = 'Aaditya'
print(students)
students.append('Trisha')
print(students)

['Roy', 'Amit', 'Aadi', 'Mohit', 'Ankur']
['Roy', 'Amit', 'Aaditya', 'Mohit', 'Ankur']
['Roy', 'Amit', 'Aaditya', 'Mohit', 'Ankur', 'Trisha']

In [37]:
list3 = list(map(int, input().split(' ')))
list3

4 5 8 6 74

[4, 5, 8, 6, 74]

In [42]:
students.index('Roy')

0

In [39]:
students2 = ['Rohan', 'Abhay', 'Dhruv']
students2

['Rohan', 'Abhay', 'Dhruv']

In [40]:
students + students2

['Roy',
 'Amit',
 'Aaditya',
 'Mohit',
 'Ankur',
 'Trisha',
 'Rohan',
 'Abhay',
 'Dhruv']

create a list with user defined inputs
Add the following list to above created list \['google', 'apple', 'facebook', 'microsoft', 'tesla'\]
Count the number of times an object occurs in a list
create a list with numbers and sort it in ascending order
given are two one-dimensional arrays A and B which are sorted in ascending order. write a program to merge them into a single sorted array C
Implement a stack and queue using lists

In [43]:
t1 = list(map(str, input().split(' ')))
t1

HackerEarth HackerRank, Intel

['HackerEarth', 'HackerRank,', 'Intel']

In [44]:
t2 = ['google', 'apple', 'facebook', 'microsoft', 'tesla']
print(t1 + t2)

['HackerEarth', 'HackerRank,', 'Intel', 'google', 'apple', 'facebook', 'microsoft', 'tesla']

In [62]:
t2.count('apple')

1

In [45]:
a = sorted([65, 34, 22, 289, 57])
a

[22, 34, 57, 65, 289]

In [46]:
A = [1, 2, 3, 4, 5]
B = [6, 7, 8, 9]
C = sorted(A + B)
C

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
t1.append('Directi')
print(t1)

['HackerEarth', 'HackerRank,', 'Intel', 'Amazon', 'Directi']

In [53]:
t1.pop()
print(t1)

['HackerEarth', 'HackerRank,', 'Intel', 'Amazon']

In [64]:
from collections import deque
listasdeque = deque(t1)
print(listasdeque)
listasdeque.popleft()
listasdeque

deque(['HackerEarth', 'HackerRank,', 'Intel', 'Amazon', 'Directi'])

deque(['HackerRank,', 'Intel', 'Amazon', 'Directi'])

### Tuple

In [66]:
tup = (1, 2, 3, 4, 5)
print(type(tup))
tup2 = ()
print(type(tup2))

<class 'tuple'>
<class 'tuple'>

In [67]:
del(tup2)

In [68]:
tup2

NameError: name 'tup2' is not defined

In [71]:
tup[1:2]

(2,)

In [72]:
tup2 = (3)
print(type(tup2))
tup2 = (3,)
print(type(tup2))

<class 'int'>
<class 'tuple'>

In [81]:
tup3 = ('Roy',) * 5
tup3

('Roy', 'Roy', 'Roy', 'Roy', 'Roy')

In [84]:
tup4 = (tup, tup3)
tup4

((1, 2, 3, 4, 5), ('Roy', 'Roy', 'Roy', 'Roy', 'Roy'))

1. Write a program to create a tuple with different data types and do the following oprations:<br>
  1.1 find the lenth of tuple
2. Find the largest and smallest elements of a tuple
3. Write a program to find the product af all elements in a tuple

In [87]:
tup5 = (1, 8, 9, 'Roy', 'Toy')
print(tup5)
len(tup5)

(1, 8, 9, 'Roy', 'Toy')

5

In [90]:
tup6 = (5, 2, 8, 9)
print(tup6)
print(max(tup6))
print(min(tup6))

(5, 2, 8, 9)
9
2

In [95]:
import numpy as n
print(n.prod(tup6))

720

### Set

In [112]:
a = set()
a.add('apple')
a

{'apple'}

In [113]:
a.add('mango')
a

{'apple', 'mango'}

In [114]:
a.update(['mango', 'grapes'])
a

{'apple', 'grapes', 'mango'}

In [117]:
a.add('mango')
a

{'apple', 'grapes', 'mango'}

In [ ]:
a.remove('mango')
a

# DAY 4

## Data Types in Python Continue...
__Numeric, String, List, Tuple, Dictionary, set etc.__

### Dictionaries
Definition:<br>
d = {'key': 'value'}

In [10]:
d = {'fname': 'Swetank', 'lname': 'Subham'}
print(d, type(d))
print('I am {} {}.'.format(d['fname'], d['lname']))

{'fname': 'Swetank', 'lname': 'Subham'} <class 'dict'>
I am Swetank Subham.

### Updation<a class="tocSkip">

In [11]:
d['fname'] = 'Jonty'
d['lname'] = 'Rhodes'
print('I am {} {}.'.format(d['fname'], d['lname']))

I am Jonty Rhodes.

### Deletion <a class="tocSkip">

In [12]:
del d[lname]
print('I am {} {}.'.format(d['fname'], d['lname']))

NameError: name 'lname' is not defined

### Clear <a class="tocSkip">

In [9]:
d.clear()
print(d)

defaultdict(<class 'str'>, {})

In [19]:
d = {('fname','lname'):('The','Roy')}
print(d[('fname', 'lname')])

('The', 'Roy')

In [15]:
d2 = {['fname','lname']:['The','Roy']}
print(d2)

TypeError: unhashable type: 'list'

## Conditionals

### if, if-else, if-elif(n)-else

In [21]:
x = 10
y = 5
if x > y:
    print('{} is greater than {}'.format(x, y))

10 is greater than 5

In [29]:
x = 5
y = 10
if x > y:
    print('{} is greater than {}'.format(x, y))
else:
    print('{} is greater than {}'.format(y, x))

10 is greater than 5

In [6]:
x = 5
y = 10
name = 'The Roy'
if x > y:
    print('{} is greater than {}'.format(x, y))
    if name is 'The Roy':
        name = 'Swetank Subham'
    print('Name has been changed to {}.'.format(name))
else:
    print('{} is greater than {}'.format(y, x))
    if name is 'The Roy':
        name = 'Jonty Rhodes'
    print('Name has been changed to {}.'.format(name))

10 is greater than 5
Name has been changed to The Roy.

In [4]:
if x > 3:
    print('{} is greater than 3'.format(x))
elif x < 3:
    print('3 is greater than {}'.format(x))
else:
    print('3 is equal to {}'.format(x))

5 is greater than 3

### Question <a class="tocSkip">
1. Even odd
2. age > 25, gen == male, salary > 50000, eligible
3. grading: 
           >= 90 then A+
            80 - 90: A
            70 - 80: B
            60 - 70: C
            50 - 60: D
            40 - 50: E
            <= 40 : fail
4. Leap-year
    y % 4 == 0 and (y % 100 != 0 or y % 400 == 0)

In [5]:
x = int(input('Enter any integer: '))
if x%2 == 0:
    print('Even')
else:
    print('Odd')

Enter any integer: 6
Even

In [13]:
age = int(input('Enter your age: '))
gender = input('Enter your gender: ')
salary = int(input('Enter your salary: '))
if age > 25:
    if gender is 'male':
        if salary > 50000:
            print('You are eligible')
else:
    print('Sorry! You are not eligible')

Enter your age: 26
Enter your gender: male
Enter your salary: 80000
You are eligible

In [15]:
marks = int(input('Enter your marks: '))
if marks >= 90:
    print('grade: A+')
if marks >= 80 and marks < 90:
    print('grade: A')
if marks >= 70 and marks < 80:
    print('grade: B')
if marks >= 60 and marks < 70:
    print('grade: C')
if marks >= 50 and marks < 60:
    print('grade: D')
if marks >= 40 and marks < 50:
    print('grade: E')
if marks < 40:
    print('Fail')

Enter your marks: 56
grade: D

In [16]:
y = int(input('Enter year: '))
if y % 4 == 0 and (y % 100 != 0 or y % 400 == 0):
    print('Year is leap year')
else:
    print('Year is not a leap year')

Enter year: 2004
Year is leap year

In [17]:
l = int(input('Enter length: '))
b = int(input('Enter breadth: '))
if l == b:
    print('Square')
else:
    print('Rectangle')

Enter length: 5
Enter breadth: 5
Square

In [26]:
a1 = list(map(int, input('Enter age of three person on space separation: ').split(' ')))
print('Youngest is of age {}.'.format(min(a1)))
print('Older is of age {}.'.format(max(a1)))

Enter age of three person on space separation: 5 10 15
Youngest is of age 5.
Older is of age 15.

In [27]:
points = int(input('Enter your points: '))
if points >= 1 and points <= 50:
    print('No Prize')
elif points >= 51 and points <= 150:
    print('Wooden Dog')
elif points >= 151 and points <= 180:
    print('Book')
elif points >= 181 and points <= 200:
    print('Chocolates')

Enter your points: 150
Wooden Dog

## Loops

### While loop
__Syntax:__ <br>
while(if_condition_statement_is_true):<br>
&nbsp;&nbsp;&nbsp;&nbsp;entering_into_the_loop<br>
&nbsp;&nbsp;&nbsp;&nbsp;terminating_conditions<br>

* Note: It is important to keep track of terminating conditions as well, as it may leeds us to an infinite loop.

In [31]:
x = 1
while(x < 10):
    print(x, end=" ")
    x += 1

1 2 3 4 5 6 7 8 9

### For loop
__Syntax:__ <br>
for something in something_else:<br>
&nbsp;&nbsp;&nbsp;&nbsp;do_this

In [33]:
for i in range(10):
    print(i, end=" ")
name = "The Roy"
print('')
for i in name:
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9
T h e   R o y

### Break and Continue<a  class="tocSkip">

In [36]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i, end=" ")
name = "The Roy"
print('')
for i in name:
    if i is ' ':
        continue
    else:
        print(i, end=" ")

0 1 2 3 4
T h e R o y

In [41]:
from collections import defaultdict
list1 = ['ram', 'sita', 'ram', 'hanuman', 'ravan', 'sita', 'sita']
a = defaultdict(list)
for i in list1:
    if i in a:
        a[i] += 1
    else:
        a[i] = 1  
print(dict(a))

{'ram': 2, 'sita': 3, 'hanuman': 1, 'ravan': 1}

In [46]:
for i in range(10):
    i = int(input('Enter an integer: '))
    print(i, end=' ')

Enter an integer: 0
0 Enter an integer: 1
1 Enter an integer: 2
2 Enter an integer: 3
3 Enter an integer: 4
4 Enter an integer: 5
5 Enter an integer: 6
6 Enter an integer: 7
7 Enter an integer: 8
8 Enter an integer: 9
9

In [ ]:
while(True):
    print('Its in infinite loop')

In [49]:
list1 = list(map(int, input('Enter space-separated integers: ').split(' ')))
list2 = []
for i in list1:
    list2.append(i**2)
for i in list1:
    print(list1[i], list2[i])

Enter space-separated integers: 0 1 2 3 4 5 6 7 8 9
0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [50]:
l1 = ['Roy', 5, 5.0]
for i in l1:
    print(i, type(i))

Roy <class 'str'>
5 <class 'int'>
5.0 <class 'float'>

In [52]:
even_list = []
odd_list = []
for i in range(1,101):
    if i%2 == 0:
        even_list.append(i)
    else:
        odd_list.append(i)
print(even_list)
print(odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [55]:
for i in range(1, 6):
    print('*' * i)

*
**
***
****
*****

In [56]:
for i in a.values():
    print(i, end=' ')

2 3 1 1

In [67]:
for i in range(5):
    a = ord('a')
    for j in range(i):
        print(chr(a), end='')
        a += 1
    print()

a
ab
abc
abcd

## Functions
__Syntax:__<br>
def function_name(parameters):<br>
&nbsp;&nbsp;&nbsp;&nbsp;operations

In [74]:
def getData(name):
    if name is 'Swetank':
        return {'Name' : 'Swetank', 'Age' : 22, 'Stream': 'B.Tech | CSE'}
    else:
        return 'No data found'
print(getData('Swetank')['Stream'])
print(getData('Subham'))

B.Tech | CSE
No data found

# DAY 5

## List Copy
### Deep Copy and Shallow Copy <a class="tocSkip">

In [1]:
x = 'abc'
y = 'def'
x += 'ehj'
x

'abcehj'

In [4]:
x = 'abc'
print(id(x))
y = 'def'
x += 'ehj'
print(id(x))
x

2997357858016
2997398047912

'abcehj'

In [3]:
tup1 = (1,)
tup2 = (2,)
tup3 = tup1 + tup2
print(type(tup3))
tup3

<class 'tuple'>

(1, 2)

### Shallow Copy

In [8]:
a = [1, 2, 3]
print(id(a))
b = a
print(id(b))
b[1] = 5
print(id(b))
print(a)
print(b)

2997398057480
2997398057480
2997398057480
[1, 5, 3]
[1, 5, 3]

### Deep Copy

In [9]:
c = a.copy()
print(c)
print(id(c))
c[1] = 8
print(id(c))
print(c)
print(a)
print(b)

[1, 5, 3]
2997398058056
2997398058056
[1, 8, 3]
[1, 5, 3]
[1, 5, 3]

## List Comprehension

In [13]:
a = ['a','b', 'c']
b = [1, 2, 3]
for i in range(len(a)):
    for j in range(len(b)):
        print(a[i],b[j],sep='')

a1
a2
a3
b1
b2
b3
c1
c2
c3

In [41]:
print([i + str(j) for i in a for j in b])

['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']

In [51]:
list1 = ['ram', 'sita', 'ram', 'hanuman', 'ravan', 'sita', 'sita']
print({x:list1.count(x) for x in set(list1)})

{'sita': 3, 'ravan': 1, 'hanuman': 1, 'ram': 2}

In [53]:
d = {'Name' : [], 'Age' : []}
i = int(input('Enter number of students to add: '))
for i in range(i):
    name = input('Enter Name of student: ')
    age = int(input('Enter Age of Student: '))
    d['Name'].append(name)
    d['Age'].append(age)
print(d)

Enter number of students to add: 2
Enter Name of student: sdfgh
Enter Age of Student: 20
Enter Name of student: oihgb
Enter Age of Student: 21
{'Name': ['sdfgh', 'oihgb'], 'Age': [20, 21]}

## Modules
### math

In [65]:
import math
x = 4.5
print(math.ceil(x))
print(math.floor(x))
print(math.cos(x))
print(math.sin(x))
print(math.tan(x))
print(math.degrees(x))
print(math.radians(x))
print(math.factorial(math.floor(x)))
print(math.gcd(math.ceil(x) * 10, math.floor(x) * 10))
print(math.pow(math.ceil(x), math.floor(x)))
print(math.pi)

5
4
-0.2107957994307797
-0.977530117665097
4.637332054551185
257.8310078088705
0.07853981633974483
24
10
625.0
3.141592653589793

### os

In [70]:
import os
print(os.name)
print(os.path.abspath('.'))
print(os.listdir('.'))

nt
D:\Development\jupyter\Python3
['.ipynb_checkpoints', 'Data Structure and Algorithms Python Udacity', 'Graphs.ipynb', 'Object Oriented Programming in Python', 'PEP SUMMER 2018 py3.ipynb', 'Practice.ipynb', 'Random Tests.ipynb', 'this.png', 'Upload Project Udacity', 'Web Frameworks']

### datetime, time, sys

In [98]:
import datetime, time, os, sys
print(time.time())
print(datetime.date.today())
for _ in range(10):
    print(time.strftime("%H:%M:%S"))
    sys.stdout.flush()
    time.sleep(1)
    os.system('cls') # will work on command prompt and on windows for linux use 'clear' instead of 'cls'

1528784948.1125827
2018-06-12
11:59:08
11:59:09
11:59:10
11:59:11
11:59:12
11:59:13
11:59:14
11:59:15
11:59:16
11:59:17

## Exception Handling

In [99]:
x = 5
y = 1
x/y

5.0

In [100]:
y = 0
x/y

ZeroDivisionError: division by zero

In [112]:
def div(x, y):
    try:
        return x/y
    except(ZeroDivisionError):
        return 'Not Defined'
    except(TypeError):
        return 'Invalid parameter passed'
    finally:
        return 'All worked'
print(div(5, 1))
print(div(5, 0))
print(div(5, 'a'))

All worked
All worked
All worked

# DAY 6

## Exception Handling Continue

In [6]:
a = 3
try:
    if a < 4:
        a = a/(a - 3)
        print(a)
except ZeroDivisionError:
    print("ZeroDivisionError has occured")

ZeroDivisionError has occured

In [7]:
l = [1, 2, 3]
try:
    print(l[3])
except IndexError:
    print("IndexError has occured")

IndexError has occured

In [10]:
try:
    raise NameError("Hi There")
except NameError:
    print("An user defined error has occured")

An user defined error has occured

In [ ]:
def AbyB(a, b):
    try:
        c = ((a + b)/(A - b))
    except ZeroDivisionError:
        print('Divind with zero has triggered ZeroDivisionError')

## File Handling

In [24]:
f = open("fileHandle1.txt", "r")
print(f.read())
f.close()

Hey There,
I'm Swetank Subham.

In [28]:
f = open("fileHandle1.txt", mode="r")
print(f.readline())
f.close()

Hey There,

In [26]:
f = open("fileHandle1.txt", "r")
print(f.readlines())
f.close()

['Hey There,\n', "I'm Swetank Subham."]

In [35]:
with open("fileHandle1.txt", mode="r") as f:
    d = f.readlines()
[print(x, end='') for x in d]

Hey There,
I'm Swetank Subham.

[None, None]

In [10]:
file = open("fileHandle1.txt", "w")
file.write(input('Enter New Text here: '))
file.close()
f = open("fileHandle1.txt", "r")
print(f.read())
f.close()

Enter New Text here: Updated
Updated

In [11]:
import time, datetime
f = open("fileHandle1.txt","a")
f.write("Updated: " + str(time.strftime('%H:%M:%S')) + " " + str(datetime.date.today()))
f.close()
f = open("fileHandle1.txt","r")
print(f.read())

UpdatedUpdated: 11:26:34 2018-06-13